# testing
name: Release Charts
on:
  push:
    #branches:
    #  - main
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    permissions:
      contents: write # for creating release .tgz
      pages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.12.3
        #env:
        #  GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      # worked to create release 'nginx-0.1.0' and tag 'nginx-0.1.0' and 'gh-pages/index.yaml'
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: charts
        env:
          #CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_TOKEN: "${{ secrets.CR_TOKEN }}"
