# testing
name: Release Charts
on:
  push:
    branches:
      - main
    #tags:
    #  - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    permissions:
      contents: write # for creating release .tgz
      #pages: write # writing to Github pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # worked to create release 'nginx-0.8.0' and tag 'nginx-0.8.0' and 'gh-pages/index.yaml' using secrets.CR_TOKEN
      # worked to create release 'nginx-0.9.0' and tag 'nginx-0.9.0' and 'gh-pages/index.yaml' using secrets.GITHUB_TOKEN
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
